body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
}

.container-table {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table caption {
    font-size: 1.8em;
    font-weight: bold;
    color: #068f0d;
    text-align: center;
    margin-bottom: 12px;
    text-align: left;
}

tbody {
    border: 1px solid #48b14c;
    text-align: center;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #34b339;
    color: white;
    font-size: 1.1em;
}

tr:hover {
    background-color: #11111148;
    color: #fff;
}

td {
    color: #333;
    font-size: 16px;
}

td input,
td select {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;  
}

.acoes {
    display: flex;   
    justify-content: center; 
}

.acoes > button, .btn-deletar {
    width: 70px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
    margin: 0;  
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.acoes > button:hover,.btn-deletar:hover {
    background-color: #919191;
}

.acoes > button:active,.btn-deletar:active {
    transform: scale(0.98);
}

.btn-editar {
    background-color: #302eb1;  
}

.btn-deletar {
    background-color: #bb303b; 
}

